<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav><a href="/">home</a>
    <span class="dropdown">
        <a href="/travel">travel</a>
        <div class="dropdown-content">
            <a href="/italy">Itally</a>
            <a href="/japan">japan</a>
            <a href="/Aus">Australia</a>
        </div>
    </span>
    </nav>

    {{content}}
</body>
</html>